version: '3.9'

networks:
    web:
        external: true
services:
    traefik:
        image: traefik:v3.5.0
        container_name: traefik
        restart: unless-stopped
        ports:
            - '80:80'
            - '443:443'
        env_file: .env
        environment:
            - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./traefik.yml:/etc/traefik/traefik.yml:ro
            - ./certs/:/var/traefik/certs/:rw
        networks: [web]
        healthcheck:
            test: ['CMD', 'traefik', 'healthcheck', '--ping']
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 30s
        labels:
            - traefik.enable=true
            - traefik.http.routers.dashboard.rule=Host(`traefik.logid.xyz`)
            - traefik.http.routers.dashboard.tls=true
            - traefik.http.routers.dashboard.tls.certresolver=cloudflare
            - traefik.http.routers.dashboard.entrypoints=websecure
            - traefik.http.routers.dashboard.service=api@internal

    ui:
        container_name: ui
        image: ghcr.io/behzad-rabiei/pnpm-workspace/ui:${IMAGE_TAG}
        restart: unless-stopped
        networks: [web]
        labels:
            - traefik.enable=true
            - traefik.http.routers.ui.rule=Host(`${UI_HOST}`)
            - traefik.http.routers.ui.tls=true
            - traefik.http.routers.ui.tls.certresolver=cloudflare
            - traefik.http.routers.ui.entrypoints=websecure
            - traefik.http.services.ui.loadbalancer.server.port=8080

    api:
        container_name: api
        image: ghcr.io/behzad-rabiei/pnpm-workspace/api:${IMAGE_TAG}
        restart: unless-stopped
        networks: [web]
        labels:
            - traefik.enable=true
            - traefik.http.routers.api.rule=Host(`${API_HOST}`) && PathPrefix(`/api`)
            - traefik.http.routers.api.tls=true
            - traefik.http.routers.api.tls.certresolver=cloudflare
            - traefik.http.routers.api.entrypoints=websecure
            - traefik.http.routers.api.middlewares=api-strip,api-cors
            - traefik.http.services.api.loadbalancer.server.port=3000
            - traefik.http.middlewares.api-strip.stripprefix.prefixes=/api
            - traefik.http.middlewares.api-cors.headers.accessControlAllowMethods=GET,OPTIONS,PUT,POST,DELETE
            - traefik.http.middlewares.api-cors.headers.accessControlAllowOriginList=${ALLOWED_ORIGINS:-*}

    watchtower:
        image: containrrr/watchtower:latest
        container_name: watchtower
        restart: unless-stopped
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
        networks: [web]
