services:
    ui:
        environment:
            - UI_DOMAIN=logid.xyz
            - IMAGE_TAG=production
    api:
        environment:
            - API_DOMAIN=api.logid.xyz
            - IMAGE_TAG=production
