services:
    ui:
        environment:
            - UI_DOMAIN=staging.logid.xyz
            - IMAGE_TAG=latest
    api:
        environment:
            - API_DOMAIN=api-staging.logid.xyz
            - IMAGE_TAG=latest
