services:
    ui:
        environment:
            - IMAGE_TAG=production
        labels:
            traefik.http.routers.ui.rule: Host(`logid.xyz`)
    api:
        environment:
            - IMAGE_TAG=production
        labels:
            traefik.http.routers.api.rule: Host(`api.logid.xyz`) && PathPrefix(`/api`)
