version: "3.9"

services:
  ui:
    image: ghcr.io/behzad-rabiei/pnpm-workspace/ui:production
    labels:
      # Host rule for production
      - traefik.http.routers.ui.rule=Host(`logid.xyz`)
      # HTTPS configuration (from base)
      - traefik.enable=true
      - traefik.http.routers.ui.entrypoints=websecure
      - traefik.http.routers.ui.tls.certresolver=cf
      # Watchtower
      - com.centurylinklabs.watchtower.enable=true

  api:
    image: ghcr.io/behzad-rabiei/pnpm-workspace/api:production
    labels:
      # Host rule for production
      - traefik.http.routers.api.rule=Host(`api.logid.xyz`) && PathPrefix(`/api`)
      # HTTPS configuration (from base)
      - traefik.enable=true
      - traefik.http.routers.api.middlewares=api-strip,api-cors
      - traefik.http.services.api.loadbalancer.server.port=3000
      - traefik.http.middlewares.api-strip.stripprefix.prefixes=/api
      - traefik.http.middlewares.api-cors.headers.accesscontrolallowmethods=GET,OPTIONS,PUT,POST,DELETE
      - traefik.http.middlewares.api-cors.headers.accesscontrolalloworiginlist=*
      - traefik.http.routers.api.entrypoints=websecure
      - traefik.http.routers.api.tls.certresolver=cf
      # Watchtower
      - com.centurylinklabs.watchtower.enable=true

  #   workflows:
  #     build: null
  #     image: ghcr.io/behzad-rabiei/pnpm-workspace/workflows:production
  #     restart: unless-stopped
  #     labels:
  #       - com.centurylinklabs.watchtower.enable=true
