# docker/docker-compose.staging.yml
version: "3.9"

networks:
  web:

x-ui-labels: &ui_labels
  traefik.enable: "true"
  traefik.http.routers.ui.rule: Host(`54.93.81.139`)
  com.centurylinklabs.watchtower.enable: "true"

x-api-labels: &api_labels
  traefik.enable: "true"
  traefik.http.routers.api.entrypoints: web
  traefik.http.routers.api.middlewares: api-strip,api-cors
  traefik.http.services.api.loadbalancer.server.port: "3000"
  traefik.http.middlewares.api-strip.stripprefix.prefixes: "/api"
  traefik.http.middlewares.api-cors.headers.accesscontrolallowmethods: "GET,OPTIONS,PUT,POST,DELETE"
  traefik.http.middlewares.api-cors.headers.accesscontrolalloworiginlist: "*"
  traefik.http.routers.api.rule: Host(`54.93.81.139`) && PathPrefix(`/api`)
  com.centurylinklabs.watchtower.enable: "true"

services:
  traefik:
    image: traefik:v3.4
    container_name: traefik
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
    networks: [web]
    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
  ui:
    # build: null
    image: ghcr.io/behzad-rabiei/pnpm-workspace/ui:latest
    restart: unless-stopped
    networks: [web]
    labels: *ui_labels

  api:
    # build: null
    image: ghcr.io/behzad-rabiei/pnpm-workspace/api:latest
    restart: unless-stopped
    labels: *api_labels
    networks: [web]

  # workflows:
  #   build: null
  #   image: ghcr.io/behzad-rabiei/pnpm-workspace/workflows:latest
  #   restart: unless-stopped
  #   labels:
  #     - com.centurylinklabs.watchtower.enable=true

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower-staging
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=60
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_ROLLING_RESTART=true
    command: --interval 60 --cleanup
    labels:
      - com.centurylinklabs.watchtower.enable=false
