version: "3.9"
services:
  traefik:
    labels:
      - traefik.http.routers.traefik.rule=Host(`infra.example.com`) && (PathPrefix(`/traefik-dashboard`) || PathPrefix(`/api`))
      - traefik.http.routers.traefik.entrypoints=web
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.middlewares.traefik-auth.basicauth.users=${TRAEFIK_USERS}

  ui:
    image: ghcr.io/behzad-rabiei/pnpm-workspace/ui:production
    labels:
      - traefik.http.routers.ui.rule=Host(`logid.xyz`)
      - com.centurylinklabs.watchtower.enable=true

  api:
    image: ghcr.io/behzad-rabiei/pnpm-workspace/api:production
    labels:
      - traefik.http.routers.api.rule=Host(`api.logid.xyz`) && PathPrefix(`/api`)
      - com.centurylinklabs.watchtower.enable=true

  #   workflows:
  #     build: null
  #     image: ghcr.io/behzad-rabiei/pnpm-workspace/workflows:production
  #     restart: unless-stopped
  #     labels:
  #       - com.centurylinklabs.watchtower.enable=true
