version: "3.9"

networks:
  web:

services:
    traefik:
        image: traefik:v3.5.0
        container_name: traefik
        restart: unless-stopped
        ports: # expose both 80 & 443
            - '80:80'
            - '443:443'
        env_file: .env
        environment:
            - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
        volumes:
            - /run/docker.sock:/run/docker.sock:ro
            - ./traefik.yml:/etc/traefik/:ro
            - ./certs/:/var/traefik/certs/:rw
        networks: [web]

    ui: # static assets / SPA
        image: ghcr.io/behzad-rabiei/pnpm-workspace/ui:production
        restart: unless-stopped
        networks: [web]
        labels:
            traefik.enable: 'true'
            traefik.http.routers.ui.rule: Host(`logid.xyz`)
            traefik.http.routers.ui.tls: true
            traefik.http.routers.ui.tls.certresolver: cloudflare
            traefik.http.routers.ui.entrypoints: websecure
            traefik.http.services.ui.loadbalancer.server.port: '8080'

    api: # Node / Express / etc.
        image: ghcr.io/behzad-rabiei/pnpm-workspace/api:production
        restart: unless-stopped
        networks: [web]
        labels:
            traefik.enable: 'true'
            traefik.http.routers.api.rule: Host(`api.logid.xyz`) && PathPrefix(`/api`)
            traefik.http.routers.api.tls: true
            traefik.http.routers.api.tls.certresolver: cloudflare
            traefik.http.routers.api.entrypoints: websecure
            traefik.http.routers.api.middlewares: api-strip,api-cors
            traefik.http.services.api.loadbalancer.server.port: '3000'
            traefik.http.middlewares.api-strip.stripprefix.prefixes: '/api'
            traefik.http.middlewares.api-cors.headers.accessControlAllowMethods: 'GET,OPTIONS,PUT,POST,DELETE'
            traefik.http.middlewares.api-cors.headers.accessControlAllowOriginList: '*'

  watchtower:
    image: containrrr/watchtower:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks: [web]
