services:
    ui:
        environment:
            - IMAGE_TAG=latest
        labels:
            traefik.http.routers.ui.rule: Host(`staging.logid.xyz`)
    api:
        environment:
            - IMAGE_TAG=latest
        labels:
            traefik.http.routers.api.rule: Host(`api-staging.logid.xyz`) && PathPrefix(`/api`)
