global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: DEBUG

api: true
ping: true

entryPoints:
    web: # :80  – only used to redirect to HTTPS
        address: ':80'
        http:
            redirections:
                entryPoint:
                    to: websecure
                    scheme: https # 301 → https://
    websecure: # :443 – real traffic terminates here
        address: ':443'


entryPoints:
  web: # :80  – only used to redirect to HTTPS
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https # 301 → https://
          permanent: true
  websecure: # :443 – real traffic terminates here
    address: ":443"
    http:
      tls: {}
certificatesResolvers:
    cloudflare:
        acme:
            email: 'behzad.rabiei.77@gmail.com'
            storage: /var/traefik/certs/cloudflare-acme.json
            caServer: "https://acme-v02.api.letsencrypt.org/directory"
            dnsChallenge:
                provider: cloudflare # DNS‑01 → works even behind Cloudflare proxy
                resolvers:
                  - "1.1.1.1:53"
                  - "8.8.8.8:53"

providers:
    docker:
        exposedByDefault: false
    # networks: x

