name: Build & Push Images
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    backend:
        uses: ./.github/workflows/reusable-docker.yml
        with:
            target: backend
            image-name: ghcr.io/behzad-rabiei/backend
        secrets:
            GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    frontend:
        uses: ./.github/workflows/reusable-docker.yml
        with:
            target: frontend
            image-name: ghcr.io/behzad-rabiei/frontend
        secrets:
            GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
