name: Check Changeset

on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v3
              with: { version: 10 }

            - run: pnpm install --frozen-lockfile
            - run: pnpm changeset status --since=origin/main --verbose
