name: Changeset

on:
  push:
    branches: [main]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    if: "!contains(github.event.head_commit.message, 'Release: Version Packages [skip ci]')"

    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with: { version: 10 }
      - run: pnpm install --frozen-lockfile

      - name: Create pull request
        uses: changesets/action@v1
        with:
          commit: 'Release: Version Packages [skip ci]'
          title: 'Release: Version Packages [skip ci]'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
