name: Workspace CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-workspace:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: ci
        run: pnpm run ci
