name: Build Docker images
on:
  pull_request:
    branches: [main]
jobs:
  build:
    strategy:
      matrix:
        target: [backend, frontend]
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: ${{ matrix.target }}
      version: pr-${{ github.event.pull_request.number }}
      push: false